<ion-view view-title="About">
    <ion-content>

        <div class="list card">

            <div class="item item-avatar">
                <img src="img/icon.png" style="border-radius: 0;">
                <h2>Mobilea BV</h2>
                <p>{{ now | date : 'MMMM dd,yyyy' }}</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="http://mobilea.nl/images/sliders/1.jpg">
                <p>
                    Mobilea is an open platform where all kinds of products and services are combined together to enable elderly and handicapped people to be more self sufficient.<br/>
                    For more information visit our website http://www.mobilea.nl.
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                    Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>

        </div>

    </ion-content>
</ion-view>
